* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/fondo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


img {
    position: relative;
    width: 550px;
    height: 550px;
    top: 20px;
    left: 5%;
    float: left;
}



.caja1 {
    margin: auto;
    position: relative;
    top: 160px;
    left: 190px;
    right: 4px;
    width: 800px;
}

.Enviar {
    margin: auto;
    position: relative;
    top: -25px;
    left: 5px;
    width: 190px;
    height: 40px;
    border-radius: 20px;
}

.input {
    position: relative;
    top: -20px;
    left: -22px;
    width: 240px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    border: solid;
    background: rgb(218, 215, 215);
    border: 0;
    outline: none;
}

.Enviar {
    background: rgb(70, 130, 243);
    padding: 6px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    border: rgb(48, 109, 221);
}

